body {
	padding: 0px;
	margin: 0px;
	font: {
		family: helvetica, ubuntu, arial, verdana, sans-serif;
		size: 12pt;
	}
	div {
		
	}
}

h1 {
	font-size: 12pt;
}
h2 {
	font-size: 11pt;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.header {
	background: {
		color: #EBEBEB;
	}
	padding: {
		left: 10%;
		right: 10%;
	}
	border-bottom: 1px solid #D9D9D9;
  height: 40px;
	.title {
		position: relative;
		line-height: 40px;
		height: 40px;
		margin: {
			top: 10px;
			left: 5px;
		}
		font-size: 16pt;
		img {
			top: 5px;
			position: relative;
			margin-right: 5px;
		}
	}
	.navigation {
		padding: {
			left: 3%;
			top: 10%;
		}
		font-size: 12pt;
		a {
			padding: {
				left: 10px;
				right: 10px;
				top: 5px;
				bottom: 5px;
			}
			margin: {
				left: 3px;
				right: 3px;
			}
			border: 1px solid #D9D9D9;
			background-color: #E3E3E3;
		}
	}
	.user {
		float: right;
		padding: 10px;
		font: {
			size: 10pt;
			weight: bold;
		}
		.icons {
			font-size: 18pt;
			line-height: 20px;
			margin-right: 20px;
		}
		.alert a {
			color: #E48E69;
		}
	}
	a {
		color: #000;
		&:visited {
			color: #000; }
		&:hover {
			color: #000; } 
	}
	margin-bottom: 10px;
}

.body {
	padding: {
		left: 13%;
		right: 13%;
	}
	.voted a {
		color: #E48E69;
	}
	.vote a {
		color: #3C3C3C;
	}
	.arrow {
		float: left;
		width: 20px;
	}
	.text_body {
		margin-left: 20px;
		p {
			margin-bottom: 6px;
			a {
				color: #E46934;
			}
			a:visited {
				color: #E4916D;
			}
		}
	}
	.comment_form {
		margin: {
			left: 24px;
			top: 4px;
		}
	}
	.infobar {
		font: {
			size: 8pt;
		}
		a {
			font-weight: bold;
			color: #7F7F7F;
		}
		color: #6A6A6A;
		margin: {
			left: 4px;
			bottom: 3px;
		}
	}
	.host a:link {
		font: {
			size: 8pt;
		}
		color: #6A6A6A;
		padding-left: 10px;
	}
	.comment {
		margin-bottom: 15px;
		font-size: 10pt;
		.comment_reply {
			border: 1px solid #C8C8C8;
			padding: 1px;
			margin: {
				left: 4px;
				top: 2px;
			}
			background-color: #EBEBEB;
		}
	}
	.comments_box {
		margin-left: 20px;
		position: relative;
		div a {
			font-size: 10pt;
		}
	}
	.button {
		padding: 2px;
		background-color: #EBEBEB;
		width: 100px;
		text-align: center;
		border: 1px solid #C8C8C8;
		font-size: 10pt;
	}
	.post {
		padding-bottom: 7px;
		margin-bottom: 10px;
		.text_body {
			font-size: 10pt
		}
	}
	.notification {
		border-bottom: 1px solid #D4D4D4;
		h2 {
			font: {
				size: 10pt;
				weight: normal;
			}			
		}
	}
	.new h2 {
		font: {
			weight: bold;
			size: 10pt;
		}
	}
	#comment_text
	{
		width: 500px;
		height: 120px;
	}
	#post_title, #post_text, #post_link
	{
		width: 500px;
	}
}

.footer {
	border-top: 1px solid #D9D9D9;
	background: {
		color: #EBEBEB;
	}
	height: 30px;	
	text-align: center;
	line-height: 30px;
	font: {
		size: 10pt;
	}
	margin-top: 10px;
}

p {
	margin: { 
		top: 2px;
		bottom: 2px;
	}
	padding: 0px;
}

.page_navigation {
	font: {
		size: 10pt;
		weight: bold;
	}
}
