<h2>Hackful Europe</h2>
A place for European entrepreneurs to share demos, stories or ask questions.<br /><br />
idea by <%= link_to "@rayhanrafiq", "https://twitter.com/rayhanrafiq" %> and <%= link_to "@mattslight", "https://twitter.com/mattslight" %><br />
developed by <%= link_to "@8bitpal", "https://twitter.com/8bitpal" %><br />
hosting donated by <%= link_to "incite ict", "http://www.incite-ict.com/" %><br /><br />
